* {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

nav {
    width: 100%;
    @media screen and (max-width: 960px) {
        height: 35px;
    }
    @media screen and (min-width: 961px) {
        height: 45px;
    }
}

nav .links {
    display: flex;
    justify-content: center;
}

nav .links a {
    font-size: x-large;
    @media screen and (min-width: 961px) {
        font-size: xx-large;
    }
    text-decoration: none;
    color: #292f36;
    margin: 0 1rem 0 1rem;
}

nav .links a:hover {
    color: #a4031f;
}

header {
    margin-top: 1em;
    height: 10%;
    width: 100%;
}
header img {
    display: inline-block;
    width: 100px;
    height: 90px;
    position: absolute;
    margin: 0 50% 0 43.5%;
}

header .menu i {
    margin-left: .5em;
    font-size: xx-large;
    color: #d90429;
} 

.menu {
    display: inline-block;
}

.hire {
    position: absolute;
    right: 0;
}

i:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}


#hire {
    @media screen and (max-width: 960px) {
        width: 120px;
        height: 30px;
    }
    @media screen and (min-width: 961px) {
        width: 180px;
        height: 50px;
    }
    border: 0;
    border-radius: 1em;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1em;
    color: #FFFF;
    background-color: #d90429;
    display: inline-block;
}

#hire:hover {
    color: #d90429;
    background-color: #FFFF;
    border: 1px solid black;
}