* {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

nav {
    width: 100%;
    @media screen and (max-width: 960px) {
        height: 35px;
    }
    @media screen and (min-width: 961px) {
        height: 45px;
    }
}

nav .links {
    display: flex;
    justify-content: center;
}

nav .links a {
    font-size: x-large;
    @media screen and (min-width: 961px) {
        font-size: xx-large;
    }
    text-decoration: none;
    color: #292f36;
    margin: 0 1rem 0 1rem;
}

nav .links a:hover {
    color: #a4031f;
}

header {
    padding-top: 1em;
}

header .menu i {
    font-size: xx-large;
} 

#hire {
    @media screen and (max-width: 960px) {
        width: 120px;
        height: 30px;
    }
    @media screen and (min-width: 961px) {
        width: 180px;
        height: 50px;
    }
    border: 0;
}