<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="C:\Users\Neşetcan Aydoğan\Desktop\canaydogan\can\kişisel\basiccut.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Neşetcan Aydoğan</title>
</head>
<body>
    <nav>
        <span class="date">

        </span>
        <span class="links">
            <a href="https://www.instagram.com/caanaydogan" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.github.com/nesetcanaydogan" target="_blank"><i class='bx bxl-github' ></i></a>
            <a href="https://www.linkedin.com/in/canaydogantabb" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="mailto:canaydogan0568@gmail.com" target="_blank"><i class='bx bxl-gmail' ></i></a>
        </span>
    </nav>
    <header>
        
    </header>
</body>
</html>