* {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

nav {
    width: 100%;
    @media screen and (max-width: 960px) {
        height: 35px;
    }
    @media screen and (min-width: 961px) {
        height: 45px;
    }
    background-color: #f2f4f3;
}

nav .links {
    display: flex;
    justify-content: flex-end;
}

nav .links a {
    font-size: x-large;
    @media screen and (min-width: 961px) {
        font-size: xx-large;
    }
    text-decoration: none;
    color: #292f36;
    margin: 0 .5rem 0 .5rem;
}

nav .links a:hover {
    color: #a4031f;
}